<%- include('partials/header') %>
<div class="card border-0" style="width: 100%">
  <div class="card-body">
    <h1 class="card-title">About Us</h1>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quisquam harum architecto suscipit consectetur
      odio nihil, accusantium sapiente placeat veritatis quis totam, magnam quaerat, neque asperiores ex eligendi
      repudiandae ad. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>
  </div>
</div>
<%- include('partials/footer') %>
