<%- include('partials/header') %>
<div class="card border-0" style="width: 100%">
  <div class="card-body">
    <h1 class="card-title">Contact Details</h1>
    <p class="card-text">Email: sayu@123.com<br />Phone: +977 9860-221133<br />Instagram: @sayuzya_</p>
  </div>
</div>
<%- include('partials/footer') %>
