<%- include('partials/header') %>
<div class="card border-0" style="width: 100%">
  <div class="card-body">
    <h1 class="card-title" style="color: red">Error!</h1>
    <p class="card-text">Title has already been used</p>
  </div>
  <button type="button" class="btn btn-dark" onclick="javascript:history.back()">Back</button>
</div>
<%- include('partials/footer') %>
