<%- include('partials/header') %>
<div class="card border-0" style="width: 100%">
  <div class="card-body">
    <h1 class="card-title"><%= title %></h1>
    <p class="card-text"><%= content %></p>
  </div>
</div>
<%- include('partials/footer') %>
